# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
.next/
out/

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
logs/

# Testing
coverage/

# TypeScript build cache
*.tsbuildinfo

# Prisma
apps/api/prisma/migrations/dev/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker volumes (local)
docker/data/
